@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

html, body {
	min-height: 100%;
}

body {
	font: 14px Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#game {
	display: inline-block;
	margin: 40px auto 40px auto;
	border: 1px solid #888;
}

.hidden {
	display: none;
}

.pad-top {
	margin-top: 30px;
}

.pad-bottom {
	margin-bottom: 30px;
}

.mine {
	font-size: 20px;
	line-height: 20px;
	padding: 0px;
	padding-top: 2px;
}

.block {
	width: 30px;
	height: 30px;
	background: #ccc;
	border-top: 3px solid #f7f7f7;
	border-left: 3px solid #f7f7f7;
	border-bottom: 3px solid #666;
	border-right: 3px solid #666;
	display: inline-block;
	float: left;
}

.block[data-x='0'] {
	clear: both;
}

.block[data-x='0']:first-child {
	clear: none;
}

.block.clickable:active {
	border-top: 3px solid #666;
	border-left: 3px solid #666;
	border-bottom: 3px solid #f7f7f7;
	border-right: 3px solid #f7f7f7;
}

.block.clickable:hover {
	cursor: pointer;
}

.clicked, .clicked:hover, .click:active {
	cursor: default !important;
	border-top: 3px solid #ccc;
	border-left: 3px solid #ccc;
	border-bottom: 3px solid #ccc;
	border-right: 3px solid #ccc;
}