@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

html, body {
	min-height: 100%;
}

body {
	font: 14px Lato, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#authArea {
	display: none;
}

.hidden {
	display: none;
}

.pad-top {
	margin-top: 30px;
}

.pad-bottom {
	margin-bottom: 30px;
}

#authArea label,
#authArea input {
	display: block !important;
	float: none !important;
	clear: both !important;
	margin: 0 0 10px 0 !important;
}