<h4 class="pad-top pad-bottom">Please complete this form to sign in</h4>

<div class="container">
	<div class="col-sm-6 text-left">
		<label for="username">Username</label>
		<input id="username" type="text" placeholder="Please enter a username" />
	</div>

	<div class="col-sm-6 text-left">
		<label for="password">Password</label>
		<input id="password" type="password" placeholder="Please enter a password" />
	</div>
</div>

<div class="pad-top">
	<a class="btn btn-success" href="#submit" role="button">Submit</a>
	<a class="btn btn-danger" href="#reset" role="button">Reset</a>
</div>